<footer class="container-fluid">
    <span class="logo"><i class="fas fa-chalkboard-teacher fa-2x"></i></span>
    <h5 class="logo">Lektore</h5>
   
    

    <div id="footer" class="container">

            <ul id="contact">
                <li ><strong>Contact Us</strong> </li>
                <li>Email: info@aipidata.com</li>
                <li>Phone: +442079657489</li>
                <li>Address: Manchester, UK</li>
            </ul>
        

        
            <ul id="quick">
                <li><strong>Quick Links</strong></li>
                <li><a href="/">Homepage</a></li>
                <li><a href="/test/practicetests">Test</a></li>
                <li><a href="/bookings/booktutor">Book a tutor</a></li>
                <li><a href="/aboutus">About us</a></li>
                <li><a href="/contactus">Contact us</a></li>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login">Log in</a></li>
            </ul>
        

        
            <ul id="follow">
                <li class="first"><strong>Follow us</strong></li>
                <li ><a href="https://facebook.com">facebook</a></li>
                <li><a  href="https://twiter.com">twitter</a></li>
                <li><a  href="https://instagram.com">instagram</a></li>
                <li><a  href="https://linkedin.com">linkedin</a></li>
            </ul>


    </div>
    <p class="copyright"> &copy; ielts-lector 2021</p>
</footer>

<script nonce="arsenalfc2456" src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script nonce="arsenalfc2456" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script nonce="arsenalfc2456" src="<%=src%>" type="text/javascript"></script>
</body>

</html>