<%- include('partials/header'); -%>

    <body>
        <section id="first" class="container-fluid">
            <span class="logo"><i class="fas fa-chalkboard-teacher fa-2x"></i></span>
            <h5 class="logo">Lektore</h5>
            <nav id="top" class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/welcome">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/our-services/testformat">Test format</a>
                                <a class="dropdown-item" href="/our-services/listening">Listening</a>
                                <a class="dropdown-item" href="/our-services/reading">Reading</a>
                                <a class="dropdown-item" href="/our-services/writing">Writing</a>
                                <a class="dropdown-item" href="/our-services/speaking">Speaking</a>
                                <a class="dropdown-item" href="/our-services/elocution">Elocution</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink1" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Test
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                <a class="dropdown-item" href="/test/practicetests">Practice Tests</a>
                                <a class="dropdown-item" href="test/testresults">IELTS Test Results</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink2" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bookings
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                <a class="dropdown-item" href="/bookings/pricing">Pricing</a>
                                <a class="dropdown-item" href="/bookings/book">Book a Tutor</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contactus">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <form action="/logout" method="POST">
                                <button type="submit" class="btn btn-primary">Log out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>

        </section>
        <section id="second" class="container-fluid">
        <h1>We are a hub of tutors; we serve as a bridge to give you the best tutors for acing your IELTS in your first and only attempt.</h1>

        <h2>Our Tutors</h2>
        <div class="container">
            <div class="row">
                <div class="card col-md-3" style="width: 20rem;">
                    <img src="/images/profile pic.jpg" class="card-img-top" alt="tutor picture">
                    <div class="card-body">
                        <h5 class="card-title">Tamara Orubebe</h5>
                        <p class="card-text">Tamara is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                        teaching. He has taught quite a number of students who have all aced their IELTS exams in one sitting</p>
                        <a href="#" class="btn btn-primary">Book tutor</a>
                    </div>
                </div>
                <div class="card col-md-3" style="width: 20rem;">
                    <img src="/images/profile pic.jpg" class="card-img-top" alt="tutor picture">
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <p class="card-text">John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                        teaching. He has taught quite a number of students who have all aced their IELTS exams in one sitting</p>
                        <a href="#" class="btn btn-primary">Book tutor</a>
                    </div>
                </div>
                <div class="card col-md-3" style="width: 20rem;">
                    <img src="/images/profile pic.jpg" class="card-img-top" alt="tutor picture">
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <p class="card-text">John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                        teaching. He has taught quite a number of students who have all aced their IELTS exams in one sitting</p>
                        <a href="#" class="btn btn-primary">Book tutor</a>
                    </div>
                </div>
                <div class="card col-md-3" style="width: 20rem;">
                    <img src="/images/profile pic.jpg" class="card-img-top" alt="tutor picture">
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <p class="card-text">John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                        teaching. He has taught quite a number of students who have all aced their IELTS exams in one sitting</p>
                        <a href="#" class="btn btn-primary">Book tutor</a>
                    </div>
                </div>
                <div class="card col-md-3" style="width: 20rem;">
                    <img src="/images/profile pic.jpg" class="card-img-top" alt="tutor picture">
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <p class="card-text">John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                        teaching. He has taught quite a number of students who have all aced their IELTS exams in one sitting</p>
                        <a href="#" class="btn btn-primary">Book tutor</a>
                    </div>
                </div>
                <div class="card col-md-3" style="width: 20rem;">
                    <img src="/images/profile pic.jpg" class="card-img-top" alt="tutor picture">
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <p class="card-text">John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                        teaching. He has taught quite a number of students who have all aced their IELTS exams in one sitting</p>
                        <a href="#" class="btn btn-primary">Book tutor</a>
                    </div>
                </div>
                
            </div>  
        </div>
        </section>
        <section id="third" class="container-fluid">
            <h6>ULTIMATE SOLUTION FOR YOUR IELTS NEEDS</h6>
            <h2>learn more about <a href="#top" class="btn btn-primary">our services</a></h2>
        </section>
        <section id="fourth" class="container-fluid">
            <h2>What <span class="ielts">Lektore</span> offers?</h2>
            <p>We offer free content, information, notes, quizzes and past papers, as well as a catelogue of talented
                IELTS tutors.</p>
            <div id="cards">
                <div class="cards">
                    <i class="fas fa-info-circle fa-5x"></i>
                    <div>
                        <h5>Free content</h5>
                        <p>Download free materials on both modules of the IELTS exam.</p>
                        <a href="/test/practicetests">Practice tests</a>
                    </div>
                </div>

                <div class="cards">
                    <i class="fas fa-users fa-5x"></i>
                    <div>
                        <h5>Qualified tutors</h5>
                        <p>Meet all your IELTS needs with our highly qualified tutors.</p>
                        <a href="/aboutus">About us</a>
                    </div>
                </div>

                <div class="cards">
                    <i class="far fa-question-circle fa-5x"></i>
                    <div>
                        <h5>Elocution</h5>
                        <p>Loosen your accent and speak like natives with our elocution specialists.</p>
                        <a href="/our-services/elocution">Elocution</a>
                    </div>
                </div>

            </div>

        </section>
        
        <%- include('partials/footer'); -%>