<%- include('partials/header'); -%>

    <body>
        <section id="first" class="container-fluid">
        <span class="logo"><i class="fas fa-chalkboard-teacher fa-2x"></i></span>
        <h5 class="logo">Lektore</h5>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/our-services/testformat">Test format</a>
                                <a class="dropdown-item" href="/our-services/listening">Listening</a>
                                <a class="dropdown-item" href="/our-services/reading">Reading</a>
                                <a class="dropdown-item" href="/our-services/writing">Writing</a>
                                <a class="dropdown-item" href="/our-services/speaking">Speaking</a>
                                <a class="dropdown-item" href="/our-services/elocution">Elocution</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink1" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Test
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                <a class="dropdown-item" href="/test/practicetests">Practice Tests</a>
                                <a class="dropdown-item" href="/test/testresults">IELTS Test Results</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink2" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bookings
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                <a class="dropdown-item" href="/bookings/pricing">Pricing</a>
                                <a class="dropdown-item" href="#">Book a Tutor</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contactus">Contact Us</a>
                        </li>
                        <!-- <li class="nav-item">
                            <form action="/logout" method="POST">
                                <button type="submit" class="btn btn-primary">Log out</button>
                            </form>
                        </li> -->
                    </ul>
                </div>
            </nav>
            <!-- <div class="header">
                <h1>LEKTORE</h1>
                <h2>Ace the <span>IELTS</span> in your first and only attempt</h2>
                <a class="btn btn-primary">SIGN UP</a>
                <a class="btn btn-primary">LOG IN</a>
            </div> -->
        </section>
        <section id="second" class="container-fluid">
            <div class="mid container-fluid">
                <h2><span class="lektore">IELTS</span> Academic Practice Tests</h2>
                <p>The <span class="lektore">IELTS</span> Academic test is designed for people planning to study in higher education or those seeking professional
                registration. It assesses whether you are ready to begin studying or training in an environment where English is the
                language used.</p>
                <p>Download free materials for the different sections for your <span class="lektore">IELTS</span> preparation</p>
                <ul class="nav nav-tabs nav-justified" style="border-bottom:0px">
                    <li class="nav-item">
                        <a class="nav-link active test-link" aria-current="page"  onclick="return handleClick()" href="#listening">Listening</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link test-link" onclick="return handleClick()" href="#reading">Reading</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link test-link" onclick="return handleClick()" href="#writing">Writing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link test-link"  onclick="return handleClick()" href="#speaking">Speaking</a>
                    </li>
                </ul>
                <div id="listening"  class="container-fluid">
                    <h5>Listening practice tests</h5>
                    <p>The Listening test is the same for both Academic and General Training tests. During the listening exam, you will hear
                    several recordings which may have Australian, British, or North-American accents. Please note that when you transfer
                    your answers you are mindful of spelling as incorrect spelling will be marked wrong.</p>
                    <p>The listening test lasts for 30 minutes with an extra 10 minutes to transfer answers and contains 4 sections with 4 different recordings</p>
                    <table class="table table1">
                        <thead style="border-bottom:0px">
                        <tr>
                            <th clas="first">Sections</th>
                            <th class="second">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td clas="first">Section 1</td>
                                <td rowspan="3" class="second">A conversation between two people set in an everyday social context, e.g. a man booking a hotel room.</td>   
                            </tr>
                            <tr>   
                            </tr>
                            <tr>   
                            </tr>
                            <tr>
                                <td clas="first">Section 2</td>
                                <td rowspan="3" class="second">A monologue set in an everyday social context, e.g. a speech about local facilities or a tour of a museum.</td>   
                            </tr>
                            <tr>   
                            </tr>
                            <tr>   
                            </tr>
                            <tr>
                                <td clas="first">Section 3</td>
                                <td rowspan="3" class="second">A conversation between up to four people set in an educational or training context, e.g. a dialogue between students.</td>   
                            </tr>
                            <tr>   
                            </tr>
                            <tr>    
                            </tr>
                            <tr >
                                <td clas="first">Section 4</td>
                                <td rowspan="2" class="second">A monologue on an academic subject by a professor, or an academic tutor, e.g. a university lecture .</td>    
                            </tr>
                            <tr>   
                            </tr>
                            <tr>   
                            </tr>
                           
                        </tbody>
                    </table>
                    <h5>Download free Listening tests</h5>
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="first">Sections</th>
                                    <th class="second">Descriptions</th>
                                    <th class="third">tasksheet</th>
                                    <th class="fourth">audiofile</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="first"><strong>Section 1</strong></td>
                                    <td class="second">Listening Example Task
                                        <br> Form Completion
                                    </td>
                                    <td class="third">
                                        <a href="/test files/listening/section-1-listening-sample-task-form-completion.pdf"
                                            download="section-1-listening-example-task-form-completion.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/section-1-ielts-listening-recording-1.mp3">
                                            Recording (mp3, 402kb)
                                        </a></td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 2</strong><br> Sample A</td>
                                    <td class="second">Multiple Choice</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-2-sample-a-listening-sample-task-multiple-choice.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/section-2-sample-a-ielts-listening-recording.mp3">
                                            Recording (mp3, 402kb)
                                        </a></td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 2</strong><br> Sample B</td>
                                    <td class="second">Listening Sample B Questions</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-2-sample-b-listening-sample-task-questions.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/section-2-sample-b-ielts-listening-recording.mp3">
                                            Recording (mp3, 402kb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 2</strong><br> Sample B</td>
                                    <td class="second">Listening Sample B Answers</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-2-sample-b-listening-sample-task-answers.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 3</strong><br> Sample A</td>
                                    <td class="second">Listening Sample Task <br> Short Answer</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-3-sample-a-listening-sample-task-short-answer.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/section-3-sample-a-ielts-listening-recording.mp3">
                                            Recording (mp3, 574kb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 3</strong><br>Sample B</td>
                                    <td class="second">Listening Sample B Questions</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-3-sample-b-listening-sample-task-questions.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/section-3-sample-b-ielts-listening-recording.mp3">
                                            Recording (mp3, 549kb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 3</strong> <br> Sample B</td>
                                    <td class="second">Listening Sample B Answers</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-3-sample-b-listening-sample-task-answers.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 4</strong></td>
                                    <td class="second">Listening Sample Task <br> Sentence Completion</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-4-listening-sample-task-sentence-completion.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/section-4-ielts-listening-recording.mp3">
                                            Recording (mp3, 549kb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>NEW Samples:</strong></td>
                                    <td class="second">Listening Sample Task <br> Matching (example1)</td>
                                    <td class="third">
                                        <a href="/test files/listening/new-listening-sample-task-matching-example-1-recording-5.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/new-ielts-listening-recording-5.mp3">
                                            Recording (mp3, 2.7mb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="second">Listening Sample Task <br> Matching (example2)</td>
                                    <td class="third">
                                        <a href="/test files/listening/new-listening-sample-task-matching-example-2-recording-6 (1).pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/new-ielts-listening-recording-6.mp3">
                                            Recording (mp3, 2.7mb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="second">Plan/Map/Diagram/Labelling</td>
                                    <td class="third">
                                        <a
                                            href="/test files/listening/new-listening-sample-task-plan.map_.diagram.labelling-example-3-recording-7_2.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/new-ielts-listening-recording-7.mp3">
                                            Recording (mp3, 2.7mb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Answer Sheet</strong></td>
                                    <td class="second">Listening General Answer Sheet</td>
                                    <td class="third">
                                        <a href="/test files/listening/listening-general-answer-sheet.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div id="reading" class="container-fluid">
                    <h5>Academic Reading Practice Tests</h5>
                    <p>Texts for the reading section are authentic and are taken from books, journals, magazines and newspapers. Texts range
                    from descriptive and factual to the conversational and analytical, and may contain non-verbal materials, such as
                    diagrams, graphs or illustrations. If texts contain technical terms, a simple glossary is provided.</p>
                    <p>The content of the Reading Section differs for the Academic and General Tests.</p>
                    <p>The Academic Reading test is 60 minutes long. There are 3 sections, and the total text length is 2,150 – 2,750 words.
                    Each section of the reading exam contains one long text. A variety of questions are used to evaluate your reading
                    comprehension. They are chosen from the following types: multiple choice, identifying information, identifying writer’s
                    views/claims, matching information, matching headings, matching features, matching sentence endings, sentence
                    completion, summary completion, note completion, table completion, flow-chart completion, diagram label completion,
                    short-answer questions.</p>
                    <h5>Download free Reading tests</h5>
                    <table class="table">
                        <thead>
                            <th class="first">Description</th>
                            <th class="second">Worksheet</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="first">Answer Sheet</td>
                                <td class="second">
                                    <a href="/test files/reading/answer-sheet.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">Identifying information</td>
                                <td class="second">
                                    <a href="/test files/reading/identifying-information.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">Identifying writer's views</td>
                                <td class="second">
                                    <a href="/test files/reading/identifying-writers-views.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">Matching features</td>
                                <td class="second">
                                    <a href="/test files/reading/matching-features.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">Matching headings</td>
                                <td class="second">
                                    <a href="/test files/reading/matching-headings.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">Multiple choice questions</td>
                                <td class="second">
                                    <a href="/test files/reading/multiple-choice-questions.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">Table completion</td>
                                <td class="second">
                                    <a href="/test files/reading/table-completion.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">Diagram label completion</td>
                                <td class="second">
                                    <a href="/test files/reading/diagram-label-completion.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="writing" class="container-fluid">
                    <h5>Academic Writing Practice Tests</h5>
                    <p>The Writing section of the test includes two tasks and both must be completed. Each task is assessed independently. The
                    assessment of Task 2 carries more weight in marking than Task 1, so be sure to plan your time accordingly. The content
                    of the Reading Section will differ for the Academic and General Tests.</p>
                    <p>The Academic Writing test is 60 minutes long and includes two tasks. Candidates are required to write at least 150 words
                    for Task 1 and at least 250 words for Task 2. Both responses should be written in a formal style.</p>
                    <table class="table table1">
                        <thead>
                            <th class="first"><strong>Sections</strong></th>
                            <th class="second"><strong>Descriptions</strong></th>
                        </thead>
                        <tbody>
                                <tr>
                                    <td class="first">Academic Task 1</td>
                                    <td class="second">You will be asked to describe some visual information (graph/table/chart), and to present the description in
                                    your own words. <br><br> You may be asked to describe and explain data, describe the stages of a process, how something works, or write about an
                                    object or event. <br><br> You need to write 150 words in about 20 minutes.</td>
                                </tr>
                                <tr>
                                    <td class="first">Academic Task 2</td>
                                    <td class="second">You will be presented with a point of view, argument or problem. You need to write 250 words in about 40 minutes.</td>
                                </tr>
                        </tbody>   
                    </table>
                    <h5>Sample Writing Tasks for Download:</h5>
                    <table class="table table2">
                        <thead>
                            <td class="first"><strong>Description</strong></td>
                            <td class="second"><strong>Worksheet</strong></td>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="first">Academic Writing Sample Task 1</td>
                                <td class="second">
                                    <a href="/test files/writing/academic-writing-sample-task-1.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">Academic Writing Sample Task 2</td>
                                <td class="second">
                                    <a href="/test files/writing/academic-writing-sample-task-2.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">IELTS Writing Answer sheet - Task 1</td>
                                <td class="second">
                                    <a href="/test files/writing/ielts-writing-answer-sheet-task-1.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">IELTS Writing Answer sheet - Task 2</td>
                                <td class="second">
                                    <a href="/test files/writing/ielts-writing-answer-sheet-task-2.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">IELTS Academic Writing Sample Script</td>
                                <td class="second">
                                    <a href="/test files/writing/ielts-academic-writing-sample-script.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="speaking" class="container-fluid">
                    <h5>Speaking Practice Tests</h5>
                    <p>The speaking test is the same for both the Academic and General Training Exam. During the Speaking test, you will have a
                    discussion with a certified IELTS Examiner. It is interactive and as close to a real-life situation as a test can get.
                    Be prepared by familiarizing yourself with the format of the test.</p>
                    <p>The test is 11 to 14 minutes long with three parts.</p>
                    <table class="table table1">
                        <thead>
                            <th class="first"><strong>Sections</strong></th>
                            <th class="second"><strong>Descriptions</strong></th>
                        </thead>
                        <tr>
                            <td class="first">Part 1</td>
                            <td class="second">You answer questions about yourself, your family, your work and your interests.</td>
                        </tr>
                        <tr>
                            <td class="first">Part 2</td>
                            <td class="second">You speak about a topic. You will be given a task card which asks you to speak about a particular topic and includes
                            points that you can cover in your talk. You will be given 1 minute to prepare your talk. You will then speak for 1-2
                            minutes.</td>
                        </tr>
                        <tr>
                            <td class="first">Part 3</td>
                            <td class="second">You have a longer discussion on the topic. The examiner will ask you further questions connected to the topic in Part 2.</td>
                        </tr>
                    </table>
                    <h5>Sample Speaking Tasks for Download:</h5>
                    <table class="table table2">
                        <thead>
                            <th class="first"><strong>Task</strong></th>
                            <th class="second"><strong>Description</strong></th>
                            <th class="third"><strong>Files</strong></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="first">Speaking Sample Task Part 1</td>
                                <td class="second">Prompt</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-1-prompt.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Recording</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-1-recording.mp3">
                                        <i class="fas fa-file-audio fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Transcript</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-1-transcript.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">Speaking Sample Task Part 2</td>
                                <td class="second">Prompt</td>
                            <td class="third">
                                <a href="/test files/speaking/speaking-sample-task-part-2-prompt.pdf">
                                    <i class="far fa-file-pdf fa-2x"></i>
                                </a>
                            </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Recording</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-2-recording.mp3">
                                    <i class="fas fa-file-audio fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Transcript</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-2-transcript.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">Speaking Sample Task Part 3</td>
                                <td class="second">Prompt</td>
                            <td class="third">
                                <a href="/test files/speaking/speaking-sample-task-part-3-prompt.pdf">
                                    <i class="far fa-file-pdf fa-2x"></i>
                                </a>
                            </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Recording</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-3-recording.mp3">
                                        <i class="fas fa-file-audio fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Transcript</td>
                            <td class="third">
                                <a href="/test files/speaking/speaking-sample-task-part-3-transcript.pdf">
                                    <i class="far fa-file-pdf fa-2x"></i>
                                </a>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </section>
        <section id="third" class="container-fluid">
            <h5>ULTIMATE SOLUTION FOR YOUR IELTS NEEDS</h5>
            <h2>learn more about <a href="#top" class="btn btn-primary">our services</a></h2>
            
        </section>
        <section id="fourth" class="container-fluid">
            <h2>What does <span class="ielts">IELTS </span> test?</h2>
            <div id="cards">
                <div class="cards">
                    <i class="fas fa-headphones fa-5x"></i>
                    <div>
                        <h5>Listening</h5>
                        <p>The Listening section has four parts, with ten questions in each part. You will be required to listen to
                            a recording and answer the questions as you listen.</p>
                        <a href="/our-services/listening">Listening</a>
                    </div>
                </div>
                <div class="cards">
                    <i class="fas fa-pencil-alt fa-5x"></i>
                    <div>
                        <h5>Writing</h5>
                        <p>The writing test has two tasks, 1 and 2, and both must be completed in 60 minutes. The writing test
                            differs for both modules of the IELTS exam.</p>
                        <a href="/our-services/writing">Writing</a>
                    </div>
                </div>
                <div class="cards">
                    <i class="fas fa-book-open fa-5x"></i>
                    <div>
                        <h5>Reading</h5>
                        <p>The reading test differs for both modules of the exam; however, they both require you to answer questions
                            from passages provided, and last 60 minutes.</p>
                        <a href="/our-services/reading">Reading</a>
                    </div>
                </div>
                <div class="cards">
                    <i class="fas fa-volume-up fa-5x"></i>
                    <div>
                        <h5>Speaking</h5>
                        <p>The speaking test is a face to face interview ( with 3 parts) between the examiner and candidate which
                            lasts for about 11-15 minutes and is recorded</p>
                        <a href="/our-services/speaking">Speaking</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="fifth" class="container-fluid">
            <h2>What <span class="ielts">Lektore</span> offers?</h2>
            <p>We offer free content, information, notes, quizzes and past papers, as well as a catelogue of talented
                IELTS tutors.</p>
            <div id="cards">
                <div class="cards">
                    <i class="fas fa-info-circle fa-5x"></i>
                    <div>
                        <h5>Free content</h5>
                        <p>Download free materials on both modules of the IELTS exam.</p>
                        <a href="/test/practicetests">Practice tests</a>
                    </div>
                </div>
            
                <div class="cards">
                    <i class="fas fa-users fa-5x"></i>
                    <div>
                        <h5>Qualified tutors</h5>
                        <p>Meet all your IELTS needs with our highly qualified tutors.</p>
                        <a href="/aboutus">About us</a>
                    </div>
                </div>
            
                <div class="cards">
                    <i class="far fa-question-circle fa-5x"></i>
                    <div>
                        <h5>Elocution</h5>
                        <p>Loosen your accent and speak like natives with our elocution specialists.</p>
                        <a href="/our-services/elocution">Elocution</a>
                    </div>
                </div>
            
            </div>

        </section>
        
        <%- include('partials/footer'); -%>