<%- include('partials/header'); -%>

    <body>
        <section id="first" class="container-fluid">
            <span class="logo"><img class="logo" src="/images/LogoMakr-1CJZbX.png" alt="logo"></span>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Learn
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/learn/testformat">Test format</a>
                                <a class="dropdown-item" href="/learn/listening">Listening</a>
                                <a class="dropdown-item" href="/learn/reading">Reading</a>
                                <a class="dropdown-item" href="/learn/writing">Writing</a>
                                <a class="dropdown-item" href="/learn/speaking">Speaking</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Test
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/test/practicetests">Practice Tests</a>
                                <a class="dropdown-item" href="/test/testresults">IELTS Test Results</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bookings
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Pricing</a>
                                <a class="dropdown-item" href="#">Book a Tutor</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                About Us
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Our Team</a>
                                <a class="dropdown-item" href="#">Our Tutors</a>
                                <a class="dropdown-item" href="#">Join Us</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contactus">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="header">
                <h1>LECTOR</h1>
                <h2>Ace the <span>IELTS</span> in your first and only attempt</h2>
                <a class="btn btn-primary">SIGN UP</a>
                <a class="btn btn-primary">LOG IN</a>
            </div>
        </section>
        <section id="second" class="container-fluid">
            <div class="mid container-fluid">
                <h2><span class="lector">IELTS</span> Academic Practice Tests</h2>
                <p>The <span class="lector">IELTS</span> Academic test is designed for people planning to study in higher education or those seeking professional
                registration. It assesses whether you are ready to begin studying or training in an environment where English is the
                language used.</p>
                <p>Download free materials for the different sections for your <span class="lector">IELTS</span> preparation</p>
                <ul class="nav nav-tabs nav-justified" style="border-bottom:0px">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Listening</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reading</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Writing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Speaking</a>
                    </li>
                </ul>
                <div class="test1">
                    <h5>Listening practice tests</h5>
                    <p>The Listening test is the same for both Academic and General Training tests. During the listening exam, you will hear
                    several recordings which may have Australian, British, or North-American accents. Please note that when you transfer
                    your answers you are mindful of spelling as incorrect spelling will be marked wrong.</p>
                    <p>The listening test lasts for 30 minutes with an extra 10 minutes to transfer answers and contains 4 sections with 4 different recordings</p>
                    <table class="table responsive">
                        <thead style="border-bottom:0px">
                        <tr>
                            <th clas="first">Sections</th>
                            <th class="second">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td clas="first">Section 1</td>
                                <td rowspan="3" class="second">A conversation between two people set in an everyday social context, e.g. a man booking a hotel room.</td>   
                            </tr>
                            <tr>   
                            </tr>
                            <tr>   
                            </tr>
                            <tr>
                                <td clas="first">Section 2</td>
                                <td rowspan="3" class="second">A monologue set in an everyday social context, e.g. a speech about local facilities or a tour of a museum.</td>   
                            </tr>
                            <tr>   
                            </tr>
                            <tr>   
                            </tr>
                            <tr>
                                <td clas="first">Section 3</td>
                                <td rowspan="3" class="second">A conversation between up to four people set in an educational or training context, e.g. a dialogue between students.</td>   
                            </tr>
                            <tr>   
                            </tr>
                            <tr>    
                            </tr>
                            <tr >
                                <td clas="first">Section 4</td>
                                <td rowspan="2" class="second">A monologue on an academic subject by a professor, or an academic tutor, e.g. a university lecture .</td>    
                            </tr>
                            <tr>   
                            </tr>
                            <tr>   
                            </tr>
                           
                        </tbody>
                    </table>
                    <h5>Download free Listening tests</h5>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            <img src="/images/people-2557396_1920.jpg" alt="student holding IELTS test report">
        </section>
        <section id="third" class="container-fluid">
            <h6>ULTIMATE SOLUTION FOR YOUR IELTS NEEDS</h6>
            <h2>Learn more about us</h2>
            <i class="far fa-4x fa-play-circle"></i>
        </section>
        <section id="fourth" class="container-fluid">
            <h2>What does <span class="ielts">IELTS </span> test?</h2>
            <div id="cards">
                <div class="cards">
                    <i class="fas fa-headphones fa-5x"></i>
                    <div>
                        <h5>Listening</h5>
                        <p>Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="/learn/listening">Read more</a>
                    </div>
                </div>
                <div class="cards">
                    <i class="fas fa-pencil-alt fa-5x"></i>
                    <div>
                        <h5>Writing</h5>
                        <p>Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="/learn/writing">Read more</a>
                    </div>
                </div>
                <div class="cards">
                    <i class="fas fa-book-open fa-5x"></i>
                    <div>
                        <h5>Reading</h5>
                        <p>Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="/learn/reading">Read more</a>
                    </div>
                </div>
                <div class="cards">
                    <i class="fas fa-volume-up fa-5x"></i>
                    <div>
                        <h5>Speaking</h5>
                        <p>Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="/learn/speaking">Read more</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="fifth" class="container-fluid">
            <h2>What <span class="ielts">Lector</span> offers?</h2>
            <p>We offer free content, information, notes, quizzes and past papers, as well as a catelogue of talented
                IELTS tutors.</p>
            <div id="cards">
                <div class="cards">
                    <i class="fas fa-info-circle fa-5x"></i>
                    <div>
                        <h5>Free content</h5>
                        <p>Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <div class="cards">
                    <i class="fas fa-users fa-5x"></i>
                    <div>
                        <h5>Qualified tutors</h5>
                        <p>Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <div class="cards">
                    <i class="far fa-question-circle fa-5x"></i>
                    <div>
                        <h5>Free quizzes</h5>
                        <p>Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>

        </section>
        <section id="sixth" class="container-fluid">
            <h2>Find a <span class="ielts">Tutor</span></h2>
            <div class="tutor container-fluid">
                <div id="first-card" class="tutor-card">
                    <img src="/images/profile pic.jpg" alt="tutor picture">
                    <h5>Tamara Orubebe</h5>
                    <em>Nigeria</em>
                    <p>Tamara is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                        teaching. He has taught
                        quite a number of students who have all aced their IELTS exams in one sitting</p>
                    <a href="">Book tutor</a>
                </div>
                <div class="tutor-card">
                    <img src="/images/profile pic.jpg" alt="tutor picture">
                    <h5>John Doe</h5>
                    <em>Nigeria</em>
                    <p>John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                        teaching. He has taught
                        quite a number of students who have all aced their IELTS exams in one sitting</p>
                    <a href="">Book tutor</a>
                </div>
                <div id="last-card" class="tutor-card">
                    <img src="/images/profile pic.jpg" alt="tutor picture">
                    <h5>John Doe</h5>
                    <em>Nigeria</em>
                    <p>John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                        teaching. He has taught
                        quite a number of students who have all aced their IELTS exams in one sitting</p>
                    <a href="">Book tutor</a>
                </div>
                <!-- <div class="tutor-card">
                   <img src="/images/profile pic.jpg" alt="tutor picture">
                   <h5>John Doe</h5>
                   <em>Nigeria</em>
                   <p>John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for teaching. He has taught
                        quite a number of students who have all aced their IELTS exams in one sitting</p>
                        <a href="">Book tutor</a>
               </div> -->
            </div>
        </section>
        <hr>
        <%- include('partials/footer'); -%>