<%- include('partials/header'); -%>

    <body>
        <section id="first" class="container-fluid">
            <span class="logo"><i class="fas fa-chalkboard-teacher fa-2x"></i></span>
            <h5 class="logo">Lektore</h5>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/welcome">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/our-services/testformat">Test format</a>
                                <a class="dropdown-item" href="/our-services/reading">Reading</a>
                                <a class="dropdown-item" href="/our-services/listening">Listening</a>
                                <a class="dropdown-item" href="/our-services/writing">Writing</a>
                                <a class="dropdown-item" href="/our-services/speaking">Speaking</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Test
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/test/practicetests">Practice Tests</a>
                                <a class="dropdown-item" href="test/testresults">IELTS Test Results</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bookings
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/bookings/pricing">Pricing</a>
                                <a class="dropdown-item" href="#">Book a Tutor</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contactus">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <form action="/logout" method="POST">
                                <button type="submit" class="btn btn-primary">Log out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- <div class="header">
            <h1>LEKTORE</h1>
            <h2>Ace the <span>IELTS</span> in your first and only attempt</h2>
            <a class="btn btn-primary">SIGN UP</a>
            <a class="btn btn-primary">LOG IN</a>
        </div> -->
        </section>
        <section id="second" class="container-fluid">
            <div class="mid">
                <h2><span class="lektore">Elocution</span> lessons</h2>
                <h5><a href="https://en.wikipedia.org/wiki/Elocution" target="_blank"><span class="ielts">Elocution</span></a> is the study
                    of formal speaking in pronunciation, grammar, style, and tone as well as the idea and practice of
                effective speech and its forms. It stems from the idea that while communication is symbolic, sounds are final and
                compelling.</h5>   
                <h5><span class="lektore">Lektore</span> offers lessons on elocution for actors, business tycoons, migrants, etc., who
                    want
                    to loosen their tongues and speak fluently like natives. Our elocution specialists help you get into character no
                    matter the need.
                </h5>
                <h5>click <a href="/bookings/pricing">here</a> to book an elocution specialist</h5>
            </div>
            <img src="/images/christina-wocintechchat-com-LQ1t-8Ms5PY-unsplash (1).jpg" alt="elocution class">
        </section>
        <section id="third" class="container-fluid">
            <h2>What <span class="ielts">Lektore</span> offers?</h2>
            <p>We offer free content, information, notes, quizzes and past papers, as well as a catelogue of talented
                IELTS tutors.</p>
            <div id="cards">
                <div class="cards">
                    <i class="fas fa-info-circle fa-5x"></i>
                    <div>
                        <h5>Free content</h5>
                        <p>Download free materials on both modules of the IELTS exam.</p>
                        <a href="/test/practicetests">Read more</a>
                    </div>
                </div>

                <div class="cards">
                    <i class="fas fa-users fa-5x"></i>
                    <div>
                        <h5>Qualified tutors</h5>
                        <p>Meet all your IELTS needs with our highly qualified tutors.</p>
                        <a href="/aboutus">Read more</a>
                    </div>
                </div>

                <div class="cards">
                    <i class="far fa-question-circle fa-5x"></i>
                    <div>
                        <h5>Elocution</h5>
                        <p>Loosen your accent and speak like natives with our elocution specialists.</p>
                        <a href="/our-services/elocution">Read more</a>
                    </div>
                </div>

            </div>

        </section>

       
        <%- include('partials/footer'); -%>