<%- include('partials/header'); -%>

    <body>
        <section id="first" class="container-fluid">
            <span class="logo"><i class="fas fa-chalkboard-teacher fa-2x"></i></span>
            <h5 class="logo">Lektore</h5>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/homepage">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/our-services/testformat">Test format</a>
                                <a class="dropdown-item" href="/our-services/listening">Listening</a>
                                <a class="dropdown-item" href="/our-services/reading">Reading</a>
                                <a class="dropdown-item" href="/our-services/writing">Writing</a>
                                <a class="dropdown-item" href="/our-services/speaking">Speaking</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Test
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/test/practicetests">Practice Tests</a>
                                <a class="dropdown-item" href="/test/testresults">IELTS Test Results</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bookings
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Pricing</a>
                                <a class="dropdown-item" href="#">Book a Tutor</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                About Us
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Our Team</a>
                                <a class="dropdown-item" href="#">Our Tutors</a>
                                <a class="dropdown-item" href="#">Join Us</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contactus">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <form action="/logout" method="POST">
                                <button type="submit" class="btn btn-primary">Log out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- <div class="header">
                <h1>Lektore</h1>
                <h2>Ace the <span>IELTS</span> in your first and only attempt</h2>
                <a class="btn btn-primary">SIGN UP</a>
                <a class="btn btn-primary">LOG IN</a>
            </div> -->
        </section>
        <section id="second" class="container-fluid">
            <div class="mid container-fluid">
                <h2><span class="lektore">IELTS</span> General Practice Tests</h2>
                <p>The <span class="lektore">IELTS</span> General test measures English language proficiency in a practical, everyday context. You may take IELTS
                General Training if you want to study or train in secondary education, training at a college below degree level, or
                migrate to an English-speaking country.</p>
                <p>Download free materials for the different sections for your <span class="lektore">IELTS</span>
                    preparation</p>
                <ul class="nav nav-tabs nav-justified" style="border-bottom:0px">
                    <li class="nav-item">
                        <a class="nav-link active test-link" aria-current="page" onclick="handleClick()"
                            href="#listening">Listening</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link test-link" onclick="handleClick()" href="#reading">Reading</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link test-link" onclick="handleClick()" href="#writing">Writing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link test-link" onclick="handleClick()" href="#speaking">Speaking</a>
                    </li>
                </ul>
                <div id="listening" class="container-fluid">
                    <h5>Listening practice tests</h5>
                    <p>The Listening test is the same for both Academic and General Training tests. During the listening
                        exam, you will hear
                        several recordings which may have Australian, British, or North-American accents. Please note
                        that when you transfer
                        your answers you are mindful of spelling as incorrect spelling will be marked wrong.</p>
                    <p>The listening test lasts for 30 minutes with an extra 10 minutes to transfer answers and contains
                        4 sections with 4 different recordings</p>
                    <table class="table table1">
                        <thead style="border-bottom:0px">
                            <tr>
                                <th clas="first">Sections</th>
                                <th class="second">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td clas="first">Section 1</td>
                                <td rowspan="3" class="second">A conversation between two people set in an everyday
                                    social context, e.g. a man booking a hotel room.</td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td clas="first">Section 2</td>
                                <td rowspan="3" class="second">A monologue set in an everyday social context, e.g. a
                                    speech about local facilities or a tour of a museum.</td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td clas="first">Section 3</td>
                                <td rowspan="3" class="second">A conversation between up to four people set in an
                                    educational or training context, e.g. a dialogue between students.</td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td clas="first">Section 4</td>
                                <td rowspan="2" class="second">A monologue on an academic subject by a professor, or an
                                    academic tutor, e.g. a university lecture .</td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>

                        </tbody>
                    </table>
                    <h5>Download free Listening tests</h5>
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="first">Sections</th>
                                    <th class="second">Descriptions</th>
                                    <th class="third">tasksheet</th>
                                    <th class="fourth">audiofile</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="first"><strong>Section 1</strong></td>
                                    <td class="second">Listening Example Task
                                        <br> Form Completion
                                    </td>
                                    <td class="third">
                                        <a href="/test files/listening/section-1-listening-sample-task-form-completion.pdf"
                                            download="section-1-listening-example-task-form-completion.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/section-1-ielts-listening-recording-1.mp3">
                                            Recording (mp3, 402kb)
                                        </a></td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 2</strong><br> Sample A</td>
                                    <td class="second">Multiple Choice</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-2-sample-a-listening-sample-task-multiple-choice.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/section-2-sample-a-ielts-listening-recording.mp3">
                                            Recording (mp3, 402kb)
                                        </a></td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 2</strong><br> Sample B</td>
                                    <td class="second">Listening Sample B Questions</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-2-sample-b-listening-sample-task-questions.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/section-2-sample-b-ielts-listening-recording.mp3">
                                            Recording (mp3, 402kb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 2</strong><br> Sample B</td>
                                    <td class="second">Listening Sample B Answers</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-2-sample-b-listening-sample-task-answers.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 3</strong><br> Sample A</td>
                                    <td class="second">Listening Sample Task <br> Short Answer</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-3-sample-a-listening-sample-task-short-answer.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/section-3-sample-a-ielts-listening-recording.mp3">
                                            Recording (mp3, 574kb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 3</strong><br>Sample B</td>
                                    <td class="second">Listening Sample B Questions</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-3-sample-b-listening-sample-task-questions.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/section-3-sample-b-ielts-listening-recording.mp3">
                                            Recording (mp3, 549kb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 3</strong> <br> Sample B</td>
                                    <td class="second">Listening Sample B Answers</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-3-sample-b-listening-sample-task-answers.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Section 4</strong></td>
                                    <td class="second">Listening Sample Task <br> Sentence Completion</td>
                                    <td class="third">
                                        <a href="/test files/listening/section-4-listening-sample-task-sentence-completion.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/section-4-ielts-listening-recording.mp3">
                                            Recording (mp3, 549kb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>NEW Samples:</strong></td>
                                    <td class="second">Listening Sample Task <br> Matching (example1)</td>
                                    <td class="third">
                                        <a href="/test files/listening/new-listening-sample-task-matching-example-1-recording-5.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/new-ielts-listening-recording-5.mp3">
                                            Recording (mp3, 2.7mb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="second">Listening Sample Task <br> Matching (example2)</td>
                                    <td class="third">
                                        <a href="/test files/listening/new-listening-sample-task-matching-example-2-recording-6 (1).pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/new-ielts-listening-recording-6.mp3">
                                            Recording (mp3, 2.7mb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="second">Plan/Map/Diagram/Labelling</td>
                                    <td class="third">
                                        <a
                                            href="/test files/listening/new-listening-sample-task-plan.map_.diagram.labelling-example-3-recording-7_2.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td class="fourth"><a href="/test files/listening/new-ielts-listening-recording-7.mp3">
                                            Recording (mp3, 2.7mb)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first"><strong>Answer Sheet</strong></td>
                                    <td class="second">Listening General Answer Sheet</td>
                                    <td class="third">
                                        <a href="/test files/listening/listening-general-answer-sheet.pdf">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div id="reading" class="container-fluid">
                    <h5>General Reading Practice Tests</h5>
                    <p>The General Training version requires test takers to read extracts from books, magazines, newspapers, notices,
                    advertisements, company handbooks and guidelines. These are materials you are likely to encounter on a daily basis in an
                    English-speaking environment.</p>
                    <p>The content of the Reading Section differs for the Academic and General Tests.</p>
                    <p>The General Reading test is 60 minutes long and has 3 sections. </p>
                    <h5>Download free Reading tests</h5>
                    <table class="table table1">
                        <thead>
                            <td class="first"><strong>Sections</strong></td>
                            <td class="second"><strong>Description</strong></td>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="first">Section 1</td>
                                <td class="second">contains two or three short factual texts, one of which may be a
                                    composite (consisting of 6-8 short texts related by
                                    topic, eg. hotel advertisements). Topics are relevant to everyday life in an English-speaking country.
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="first">Section 2</td>
                                <td class="second">contains two short factual texts focusing on work-related issues (eg. applying for jobs, 
                                    company policies, pay and conditions).
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="first">Section 3</td>
                                <td class="second">contains one longer, more complex text on a topic of general interest.</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table2">
                        <thead>
                            <th class="first"><strong>Task</strong></th>
                            <th class="second"><strong>Worksheet</strong></th>
                            <th class="second"><strong>Worksheet</strong></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="first"><strong>General Training Reading Sample Task</strong></td>
                                <td class="second">Flow Chart Completion</td>
                                <td class="third">
                                    <a href="/test files/reading/ielts-general-training-reading-sample-task-flow-chart-completion.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Identifying information</td>
                                <td class="third">
                                    <a href="/test files/reading/ielts-general-training-reading-sample-task-identifying-information.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Matching Information</td>
                                <td class="third">
                                    <a href="/test files/reading/ielts-general-training-reading-sample-task-matching-information.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Matching Features</td>
                                <td class="third">
                                    <a href="/test files/reading/ielts-general-training-reading-sample-task-matching-feature.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Matching headings</td>
                                <td class="third">
                                    <a href="/test files/reading/ielts-general-training-reading-sample-task-matching-headings.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Sentence Completion</td>
                                <td class="third">
                                    <a href="/test files/reading/ielts-general-training-reading-sample-task-sentence-completion.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                            <td class="first"></td>
                            <td class="second">Short Answer Questions</td>
                            <td class="third">
                                <a href="/public/test files/reading/ielts-general-training-reading-sample-task-short-answer-questions.pdf">
                                    <i class="far fa-file-pdf fa-2x"></i>
                                </a>
                            </td>
                            </tr>
                            <tr>
                                <td class="first"><strong>Answer Sheet</strong></td>
                                <td class="second">Reading Answer Sheet</td>
                                <td class="third">
                                    <a href="/public/test files/reading/ielts-general-training-reading-answer-sheet.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="writing" class="container-fluid">
                    <h5>General Training Writing Practice Tests</h5>
                    <p>The Writing section of the test includes two tasks and both must be completed. Each task is assessed independently. The
                    assessment of Task 2 carries more weight in marking than Task 1, so be sure to plan your time accordingly.</p>
                    <p>The General Training Writing test is 60 minutes long and includes two tasks. Both tasks must be completed but note that
                    Task 2 is weighted more heavily than Task 1. In Task 1, test takers are asked to respond to a situation, by writing a
                    letter for example, requesting information or explaining a situation. In Task 2, test takers write an essay in response
                    to a point of view, argument or problem.</p>
                    <table class="table table1">
                        <thead>
                            <th class="first"><strong>Sections</strong></th>
                            <th class="second"><strong>Descriptions</strong></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="first">General Training Task 1</td>
                                <td class="second">In Writing Task 1, test takers are presented with a situation and required to write a personal response in the form of
                                an informal, semi-formal or formal letter of at least 150 words. You will be told what kind of information (in the form
                                of three bullet points) they must include in their response. Approximately 20 minutes should be allotted for this
                                response.</td>
                            </tr>
                            <tr>
                                <td class="first">General Training Task 2</td>
                                <td class="second">In Writing Task 2, test takers are asked to write a semi-formal/neutral discursive essay of at least 250 words. The task
                                instructions give information about a point of view, argument or problem. The instructions then tell you how to discuss
                                this, which may involve providing general factual information, outlining and/or presenting a solution, justifying an
                                opinion, evaluating evidence and ideas. You should spend no more than 40 minutes on this task.</td>
                            </tr>
                        </tbody>
                    </table>
                    <h5>Sample Writing Tasks for Download:</h5>
                    <table class="table table2">
                        <thead>
                            <td class="first"><strong>Description</strong></td>
                            <td class="second"><strong>Worksheet</strong></td>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="first">General Training Writing Sample Task 1</td>
                                <td class="second">
                                    <a href="/public/test files/writing/ielts-general-training-writing-sample-task-1.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">General Training Writing Sample Task 2</td>
                                <td class="second">
                                    <a href="/public/test files/writing/ielts-general-training-writing-sample-task-2.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">General Training Writing Answer sheet</td>
                                <td class="second">
                                    <a href="/public/test files/writing/ielts-general-training-writing-answer-sheet.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            
                            <tr>
                                <td class="first">General Training Writing Sample Script</td>
                                <td class="second">
                                    <a href="/public/test files/writing/ielts-general-training-writing-sample-script.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="speaking" class="container-fluid">
                    <h5>Speaking Practice Tests</h5>
                    <p>The speaking test is the same for both the Academic and General Training Exam. During the
                        Speaking test, you will have a
                        discussion with a certified IELTS Examiner. It is interactive and as close to a real-life
                        situation as a test can get.
                        Be prepared by familiarizing yourself with the format of the test.</p>
                    <p>The test is 11 to 14 minutes long with three parts.</p>
                    <table class="table table1">
                        <thead>
                            <th class="first"><strong>Sections</strong></th>
                            <th class="second"><strong>Descriptions</strong></th>
                        </thead>
                        <tr>
                            <td class="first">Part 1</td>
                            <td class="second">You answer questions about yourself, your family, your work and your
                                interests.</td>
                        </tr>
                        <tr>
                            <td class="first">Part 2</td>
                            <td class="second">You speak about a topic. You will be given a task card which asks you to
                                speak about a particular topic and includes
                                points that you can cover in your talk. You will be given 1 minute to prepare your talk.
                                You will then speak for 1-2
                                minutes.</td>
                        </tr>
                        <tr>
                            <td class="first">Part 3</td>
                            <td class="second">You have a longer discussion on the topic. The examiner will ask you
                                further questions connected to the topic in Part 2.</td>
                        </tr>
                    </table>
                    <h5>Sample Speaking Tasks for Download:</h5>
                    <table class="table table2">
                        <thead>
                            <th class="first"><strong>Task</strong></th>
                            <th class="second"><strong>Description</strong></th>
                            <th class="third"><strong>Files</strong></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="first">Speaking Sample Task Part 1</td>
                                <td class="second">Prompt</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-1-prompt.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Recording</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-1-recording.mp3">
                                        <i class="fas fa-file-audio fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Transcript</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-1-transcript.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">Speaking Sample Task Part 2</td>
                                <td class="second">Prompt</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-2-prompt.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Recording</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-2-recording.mp3">
                                        <i class="fas fa-file-audio fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Transcript</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-2-transcript.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">Speaking Sample Task Part 3</td>
                                <td class="second">Prompt</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-3-prompt.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Recording</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-3-recording.mp3">
                                        <i class="fas fa-file-audio fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="first"></td>
                                <td class="second">Transcript</td>
                                <td class="third">
                                    <a href="/test files/speaking/speaking-sample-task-part-3-transcript.pdf">
                                        <i class="far fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </section>
        <section id="third" class="container-fluid">
            <h6>ULTIMATE SOLUTION FOR YOUR IELTS NEEDS</h6>
            <h2>learn more about <a href="#top" class="btn btn-primary">our services</a></h2>
        </section>
        <section id="fourth" class="container-fluid">
            <h2>What does <span class="ielts">IELTS </span> test?</h2>
            <div id="cards">
                <div class="cards">
                    <i class="fas fa-headphones fa-5x"></i>
                    <div>
                        <h5>Listening</h5>
                        <p>The Listening section has four parts, with ten questions in each part. You will be required to listen to
                            a recording and answer the questions as you listen.</p>
                        <a href="/our-services/listening">Read more</a>
                    </div>
                </div>
                <div class="cards">
                    <i class="fas fa-pencil-alt fa-5x"></i>
                    <div>
                        <h5>Writing</h5>
                        <p>The writing test has two tasks, 1 and 2, and both must be completed in 60 minutes. The writing test
                            differs for both modules of the IELTS exam.</p>
                        <a href="/our-services/writing">Read more</a>
                    </div>
                </div>
                <div class="cards">
                    <i class="fas fa-book-open fa-5x"></i>
                    <div>
                        <h5>Reading</h5>
                        <p>The reading test differs for both modules of the exam; however, they both require you to answer questions
                            from passages provided, and last 60 minutes.</p>
                        <a href="/our-services/reading">Read more</a>
                    </div>
                </div>
                <div class="cards">
                    <i class="fas fa-volume-up fa-5x"></i>
                    <div>
                        <h5>Speaking</h5>
                        <p>The speaking test is a face to face interview ( with 3 parts) between the examiner and candidate which
                            lasts for about 11-15 minutes and is recorded</p>
                        <a href="/our-services/speaking">Read more</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="fifth" class="container-fluid">
            <h2>What <span class="ielts">Lektore</span> offers?</h2>
            <p>We offer free content, information, notes, quizzes and past papers, as well as a catelogue of talented
                IELTS tutors.</p>
            <div id="cards">
                <div class="cards">
                    <i class="fas fa-info-circle fa-5x"></i>
                    <div>
                        <h5>Free content</h5>
                        <p>Download materials on both modules of the IELTS exam.</p>
                        <a href="/tests/practicetests">Read more</a>
                    </div>
                </div>
            
                <div class="cards">
                    <i class="fas fa-users fa-5x"></i>
                    <div>
                        <h5>Qualified tutors</h5>
                        <p>Meet all your IELTS needs with our highly qualified tutors.</p>
                        <a href="/about-us/tutors">Read more</a>
                    </div>
                </div>
            
                <div class="cards">
                    <i class="far fa-question-circle fa-5x"></i>
                    <div>
                        <h5>Elocution</h5>
                        <p>Loosen your accent and speak like natives with our elocution specialists.</p>
                        <a href="/our-services/elocution">Read more</a>
                    </div>
                </div>
            
            </div>

        </section>
        <section id="sixth" class="container-fluid">
            <h2>Find a <span class="ielts">Tutor</span></h2>
            <div class="tutor container-fluid">
                <div id="first-card" class="tutor-card">
                    <img src="/images/profile pic.jpg" alt="tutor picture">
                    <h5>Tamara Orubebe</h5>
                    <em>Nigeria</em>
                    <p>Tamara is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                        teaching. He has taught
                        quite a number of students who have all aced their IELTS exams in one sitting</p>
                    <a href="">Book tutor</a>
                </div>
                <div class="tutor-card">
                    <img src="/images/profile pic.jpg" alt="tutor picture">
                    <h5>John Doe</h5>
                    <em>Nigeria</em>
                    <p>John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                        teaching. He has taught
                        quite a number of students who have all aced their IELTS exams in one sitting</p>
                    <a href="">Book tutor</a>
                </div>
                <div id="last-card" class="tutor-card">
                    <img src="/images/profile pic.jpg" alt="tutor picture">
                    <h5>John Doe</h5>
                    <em>Nigeria</em>
                    <p>John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                        teaching. He has taught
                        quite a number of students who have all aced their IELTS exams in one sitting</p>
                    <a href="">Book tutor</a>
                </div>
                <!-- <div class="tutor-card">
                   <img src="/images/profile pic.jpg" alt="tutor picture">
                   <h5>John Doe</h5>
                   <em>Nigeria</em>
                   <p>John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for teaching. He has taught
                        quite a number of students who have all aced their IELTS exams in one sitting</p>
                        <a href="">Book tutor</a>
               </div> -->
            </div>
        </section>
        <hr>
        <%- include('partials/footer'); -%>