<%- include('partials/header'); -%>

<body>
    <section id="first" class="container-fluid">
        <span class="logo"><img class="logo" src="/images/LogoMakr-1CJZbX.png" alt="logo"></span>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Learn
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/learn/testformat">Test format</a>
                            <a class="dropdown-item" href="/learn/reading">Reading</a>
                            <a class="dropdown-item" href="/learn/writing">Writing</a>
                            <a class="dropdown-item" href="/learn/speaking">Speaking</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Test
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/test/practicetests">Practice Tests</a>
                            <a class="dropdown-item" href="test/testresults">IELTS Test Results</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bookings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Pricing</a>
                            <a class="dropdown-item" href="#">Book a Tutor</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Our Team</a>
                            <a class="dropdown-item" href="#">Our Tutors</a>
                            <a class="dropdown-item" href="#">Join Us</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="header">
            <h1>LECTOR</h1>
            <h2>Ace the <span>IELTS</span> in your first and only attempt</h2>
            <a class="btn btn-primary">SIGN UP</a>
            <a class="btn btn-primary">LOG IN</a>
        </div>
    </section>
    <section id="second" class="container-fluid">
        <div class="mid">
            <h2><span class="lector">IELTS</span> Listening exam format</h2>
            <p>Candidates listen to four recorded texts, monologues and conversations by a range of native speakers, and write their
            answers to a series of questions. These include questions which test the ability to understand main ideas and detailed
            factual information, ability to understand the opinions and attitudes of speakers, ability to understand the purpose of
            what is said and ability to follow the development of ideas. A variety of voices and native-speaker accents is used and
            you will hear each section only once. You will be given 30 minutes to listen as you write down your answers on your question
            booklet and an extra 10mins to transfer your answers on to the answer sheet.
            </p>
        </div>
        <img src="/images/people-2557396_1920.jpg" alt="student holding IELTS test report">   
    </section>

    <section id="third" class="container-fluid">
        <h2>What are the 4 <span class="ielts">recorded </span> texts?</h2>
        <div id="cards">
            <div class="cards">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <strong class="fa-stack-1x">1</strong>
                </span>
                <div>
                    <h5>Part 1</h5>
                    <p>A conversation between two people set in an everyday social context, e.g. a man booking a hotel room.</p>
                </div>
            </div>
            <div class="cards">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <strong class="fa-stack-1x">2</strong>
                </span>
                <div>
                    <h5>Part 2</h5>
                    <p>A monologue set in an everyday social context, e.g. a speech about local facilities or a tour of a museum.</p>
                </div>
            </div>
            <div class="cards">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <strong class="fa-stack-1x">3</strong>
                </span>
                <div>
                    <h5>Part 3</h5>
                    <p>A conversation between up to four people set in an educational or training context, e.g. a dialogue between students.</p>
                </div>
            </div>
            <div class="cards">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <strong class="fa-stack-1x">4</strong>
                </span>
                <div>
                    <h5>part 4</h5>
                    <p>A monologue on an academic subject by a professor, or an academic tutor, e.g. a university lecture .</p>
                </div>
            </div>
        </div>
    </section>
    <section id="fourth" class="container-fluid">
        <h2>What <span class="ielts">Lector</span> offers?</h2>
        <p>We offer free content, information, notes, quizzes and past papers, as well as a catelogue of talented
            IELTS tutors.</p>
        <div id="cards">
            <div class="cards">
                <i class="fas fa-info-circle fa-5x"></i>
                <div>
                    <h5>Free content</h5>
                    <p>Some quick example text to build on the card title and make up the bulk of
                        the card's
                        content.</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="cards">
                <i class="fas fa-users fa-5x"></i>
                <div>
                    <h5>Qualified tutors</h5>
                    <p>Some quick example text to build on the card title and make up the bulk of
                        the card's
                        content.</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="cards">
                <i class="far fa-question-circle fa-5x"></i>
                <div>
                    <h5>Free quizzes</h5>
                    <p>Some quick example text to build on the card title and make up the bulk of
                        the card's
                        content.</p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>

    </section>
    <section id="fifth" class="container-fluid">
        <h2>How to get started?</h2>
        <a class="btn btn-primary">SIGN UP</a>
        <a class="btn btn-primary">LOG IN</a>
    </section>
    <section id="sixth" class="container-fluid">
        <h2>Find a <span class="ielts">Tutor</span></h2>
        <div class="tutor container-fluid">
            <div id="first-card" class="tutor-card">
                <img src="/images/profile pic.jpg" alt="tutor picture">
                <h5>Tamara Orubebe</h5>
                <em>Nigeria</em>
                <p>Tamara is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                    teaching. He has taught
                    quite a number of students who have all aced their IELTS exams in one sitting</p>
                <a href="/bookings/book">Book tutor</a>
            </div>
            <div class="tutor-card">
                <img src="/images/profile pic.jpg" alt="tutor picture">
                <h5>John Doe</h5>
                <em>Nigeria</em>
                <p>John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                    teaching. He has taught
                    quite a number of students who have all aced their IELTS exams in one sitting</p>
                <a href="/bookings/book">Book tutor</a>
            </div>
            <div id="last-card" class="tutor-card">
                <img src="/images/profile pic.jpg" alt="tutor picture">
                <h5>John Doe</h5>
                <em>Nigeria</em>
                <p>John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                    teaching. He has taught
                    quite a number of students who have all aced their IELTS exams in one sitting</p>
                <a href="/bookings/book">Book tutor</a>
            </div>
            <!-- <div class="tutor-card">
                   <img src="/images/profile pic.jpg" alt="tutor picture">
                   <h5>John Doe</h5>
                   <em>Nigeria</em>
                   <p>John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for teaching. He has taught
                        quite a number of students who have all aced their IELTS exams in one sitting</p>
                        <a href="">Book tutor</a>
               </div> -->
        </div>
    </section>
    <hr>
    <%- include('partials/footer'); -%>