<%- include('partials/header'); -%>

<body>
    <section id="first" class="container-fluid">
        <span class="logo"><i class="fas fa-chalkboard-teacher fa-2x"></i></span>
        <h5 class="logo">Lektore</h5>
        <nav id="nav" class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Our services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/our-services/testformat">Test format</a>
                            <a class="dropdown-item" href="/our-services/listening">Listening</a>
                            <a class="dropdown-item" href="/our-services/reading">Reading</a>
                            <a class="dropdown-item" href="/our-services/writing">Writing</a>
                            <a class="dropdown-item" href="/our-services/speaking">Speaking</a>
                            <a class="dropdown-item" href="/our-services/elocution">Elocution</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Test
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" href="/test/practicetests">Practice Tests</a>
                            <a class="dropdown-item" href="test/testresults">IELTS Test Results</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Bookings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item" href="/bookings/pricing">Pricing</a>
                            <a class="dropdown-item" href="#">Book a Tutor</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">Contact Us</a>
                    </li>
                    <!-- <li class="nav-item">
                            <form action="/logout" method="POST">
                                <button type="submit" class="btn btn-primary">Log out</button>
                            </form>
                        </li> -->
                </ul>
            </div>
        </nav>
        <!-- <div class="header">
                <h1>LEKTORE</h1>
                <h2>Ace the <span>IELTS</span> in your first and only attempt</h2>
                <a class="btn btn-primary">SIGN UP</a>
                <a class="btn btn-primary">LOG IN</a>
            </div> -->
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <h2>Welcome to signin</h2>
                                <p>Don't have an account?</p>
                                <a href="/signup" class="btn btn-white btn-outline-white">Sign Up</a>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Sign In</h3>
                                </div>
                                <div class="w-100">
                                    <p class="social-media d-flex justify-content-end">
                                        <a href="/auth/facebook"
                                            class="social-icon d-flex align-items-center justify-content-center"><span
                                                class="fa-brands fa-facebook-f"></span></a>
                                        <a href="/auth/google"
                                            class="social-icon d-flex align-items-center justify-content-center"><span
                                                class="fa-brands fa-google"></span></a>
                                        <a href="/auth/twitter"
                                            class="social-icon d-flex align-items-center justify-content-center"><span
                                                class="fa-brands fa-twitter"></span></a>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <% if(errors !=="" ) { %>
                            
                                    <% errors.forEach(item=> { %>
                                        <div class="alert alert-danger">
                                            <%=item %>
                            
                                        </div>
                            
                                        <% }) %>
                                            <% } %>
                            </div>
                            <form action="/login" method="POST" class="signin-form">
                                <div class="form-group mb-3">
                                    <label class="label" for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Username" name="email" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="password">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3">Sign
                                        In</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-left">
                                        <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                            <input type="checkbox" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="w-50 text-md-right">
                                        <a href="#">Forgot Password</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script nonce="arsenalfc2456" src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script nonce="arsenalfc2456" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
    <!-- <script>
            (function ($) {
                "use strict";

            })(jQuery);
        </script> -->
    <script nonce="arsenalfc2456" src="<%=src%>" type="text/javascript"></script>
</body>

</html>