<%- include('partials/header'); -%>

<body>
    <section id="first" class="container-fluid">
        <span class="logo"><i class="fas fa-chalkboard-teacher fa-2x"></i></span>
        <h5 class="logo">Lektore</h5>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/welcome">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Our services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/our-services/testformat">Test format</a>
                            <a class="dropdown-item" href="/our-services/listening">Listening</a>
                            <a class="dropdown-item" href="/our-services/reading">Reading</a>
                            <a class="dropdown-item" href="/our-services/writing">Writing</a>
                            <a class="dropdown-item" href="/our-services/speaking">Speaking</a>
                            <a class="dropdown-item" href="/our-services/elocution">Elocution</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Test
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/test/testresults">IELTS Test Results</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bookings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/bookings/pricing">Pricing</a>
                            <a class="dropdown-item" href="#">Book a Tutor</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Our Team</a>
                            <a class="dropdown-item" href="#">Our Tutors</a>
                            <a class="dropdown-item" href="#">Join Us</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contactus">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="POST">
                            <button type="submit" class="btn btn-primary">Log out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- <div class="header">
            <h1>LEKTORE</h1>
            <h2>Ace the <span>IELTS</span> in your first and only attempt</h2>
            <a class="btn btn-primary">SIGN UP</a>
            <a class="btn btn-primary">LOG IN</a>
        </div> -->
    </section>
    <section id="second" class="container-fluid">
        <div class="mid">
            <h2><span class="lektore">IELTS</span> Tests and Quizzes</h2>
            <p>Prepare yourself for the <span class="lektore">IELTS</span> with these free practice tests and answers. Answer the questions and time yourself so that you can know where
                 you need to improve and develop your exam technique
            </p>
            <p>The practice tests allow you to:</p>
            <ul>
                <li>Get to know the test format.</li>
                <li>Experience the types of tasks you will be asked to undertake.</li>
                <li>Test yourself under timed conditions.</li>
                <li>Review your answers and compare them with model answers.</li>
            </ul>
            <h4>Free <span class="lektore">IELTS</span> practice tests</h4>
            <a href="/test/practicetests/academictests">Academic Practice Tests</a>
            <a href="/test/practicetests/generaltests">General Practice Tests</a>
        </div>
        <img src="/images/people-2557396_1920.jpg" alt="student holding IELTS test report">
    </section>
    <section id="third" class="container-fluid">
        <h6>ULTIMATE SOLUTION FOR YOUR IELTS NEEDS</h6>
        <h2>learn more about <a href="#top" class="btn btn-primary">our services</a></h2>
    </section>
    <section id="fourth" class="container-fluid">
        <h2>What does <span class="ielts">IELTS </span> test?</h2>
        <div id="cards">
            <div class="cards">
                <i class="fas fa-headphones fa-5x"></i>
                <div>
                    <h5>Listening</h5>
                    <p>The Listening section has four parts, with ten questions in each part. You will be required to listen to
                        a recording and answer the questions as you listen.</p>
                    <a href="/our-services/listening">Read more</a>
                </div>
            </div>
            <div class="cards">
                <i class="fas fa-pencil-alt fa-5x"></i>
                <div>
                    <h5>Writing</h5>
                    <p>The writing test has two tasks, 1 and 2, and both must be completed in 60 minutes. The writing test
                        differs for both modules of the IELTS exam.</p>
                    <a href="/our-services/writing">Read more</a>
                </div>
            </div>
            <div class="cards">
                <i class="fas fa-book-open fa-5x"></i>
                <div>
                    <h5>Reading</h5>
                    <p>The reading test differs for both modules of the exam; however, they both require you to answer questions
                        from passages provided, and last 60 minutes.</p>
                    <a href="/our-services/reading">Read more</a>
                </div>
            </div>
            <div class="cards">
                <i class="fas fa-volume-up fa-5x"></i>
                <div>
                    <h5>Speaking</h5>
                    <p>The speaking test is a face to face interview ( with 3 parts) between the examiner and candidate which
                        lasts for about 11-15 minutes and is recorded</p>
                    <a href="/our-services/speaking">Read more</a>
                </div>
            </div>
        </div>
    </section>

    <section id="fifth" class="container-fluid">
        <h2>What <span class="ielts">Lektore</span> offers?</h2>
        <p>We offer free content, information, notes, quizzes and past papers, as well as a catelogue of talented
            IELTS tutors.</p>
        <div id="cards">
            <div class="cards">
                <i class="fas fa-info-circle fa-5x"></i>
                <div>
                    <h5>Free content</h5>
                    <p>Download materials on both modules of the IELTS exam.</p>
                    <a href="/tests/practicetests">Read more</a>
                </div>
            </div>
        
            <div class="cards">
                <i class="fas fa-users fa-5x"></i>
                <div>
                    <h5>Qualified tutors</h5>
                    <p>Meet all your IELTS needs with our highly qualified tutors.</p>
                    <a href="/about-us/tutors">Read more</a>
                </div>
            </div>
        
            <div class="cards">
                <i class="far fa-question-circle fa-5x"></i>
                <div>
                    <h5>Elocution</h5>
                    <p>Loosen your accent and speak like natives with our elocution specialists.</p>
                    <a href="/our-services/elocution">Read more</a>
                </div>
            </div>
        
        </div>

    </section>
    <section id="sixth" class="container-fluid">
        <h2>Find a <span class="ielts">Tutor</span></h2>
        <div class="tutor container-fluid">
            <div id="first-card" class="tutor-card">
                <img src="/images/profile pic.jpg" alt="tutor picture">
                <h5>Tamara Orubebe</h5>
                <em>Nigeria</em>
                <p>Tamara is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                    teaching. He has taught
                    quite a number of students who have all aced their IELTS exams in one sitting</p>
                <a href="">Book tutor</a>
            </div>
            <div class="tutor-card">
                <img src="/images/profile pic.jpg" alt="tutor picture">
                <h5>John Doe</h5>
                <em>Nigeria</em>
                <p>John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                    teaching. He has taught
                    quite a number of students who have all aced their IELTS exams in one sitting</p>
                <a href="">Book tutor</a>
            </div>
            <div id="last-card" class="tutor-card">
                <img src="/images/profile pic.jpg" alt="tutor picture">
                <h5>John Doe</h5>
                <em>Nigeria</em>
                <p>John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for
                    teaching. He has taught
                    quite a number of students who have all aced their IELTS exams in one sitting</p>
                <a href="">Book tutor</a>
            </div>
            <!-- <div class="tutor-card">
                   <img src="/images/profile pic.jpg" alt="tutor picture">
                   <h5>John Doe</h5>
                   <em>Nigeria</em>
                   <p>John Doe is a seasoned Optometrist, a Software Engineer, and an IELTS tutor with a passion for teaching. He has taught
                        quite a number of students who have all aced their IELTS exams in one sitting</p>
                        <a href="">Book tutor</a>
               </div> -->
        </div>
    </section>
    <hr>
    <%- include('partials/footer'); -%>