<%- include('partials/header'); -%>

<body>
    <section id="first" class="container-fluid">
        <span class="logo"><i class="fas fa-chalkboard-teacher fa-2x"></i></span>
        <h5 class="logo">Lektore</h5>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/welcome">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Our services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/our-services/testformat">Test format</a>
                            <a class="dropdown-item" href="/our-services/listening">Listening</a>
                            <a class="dropdown-item" href="/our-services/writing">Writing</a>
                            <a class="dropdown-item" href="/our-services/speaking">Speaking</a>
                            <a class="dropdown-item" href="/our-services/elocution">Elocution</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink1" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Test
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item" href="/test/practicetests">Practice Tests</a>
                        <a class="dropdown-item" href="test/testresults">IELTS Test Results</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink2" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bookings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item" href="/bookings/pricing">Pricing</a>
                            <a class="dropdown-item" href="#">Book a Tutor</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">Contact Us</a>
                    </li>
                    <!-- <li class="nav-item">
                        <form action="/logout" method="POST">
                            <button type="submit" class="btn btn-primary">Log out</button>
                        </form>
                    </li> -->
                </ul>
            </div>
        </nav>
        <!-- <div class="header">
            <h1>LEKTORE</h1>
            <h2>Ace the <span>IELTS</span> in your first and only attempt</h2>
            <a class="btn btn-primary">SIGN UP</a>
            <a class="btn btn-primary">LOG IN</a>
        </div> -->
    </section>
    <section id="second" class="container-fluid">
        <div class="mid">
            <h2><span class="lektore">IELTS</span> Reading exam format</h2>
            <p>The Reading component consists of 40 questions, and it lasts for 60 minutes. A variety of question types are used in order to test a wide range of
            reading skills. These include reading for main ideas, reading for detail, skimming, understanding logical argument,
            recognizing writers’ opinions, attitudes and purpose.
            </p>. 
        </div>
        <img src="/images/people-2557396_1920 (1).jpg" alt="student holding IELTS test report">
    </section>

    <section id="third" class="container-fluid">
        <h2>What are the 2 <span class="ielts">types</span>?</h2>
        <div id="cards">
            <div class="cards">
                
                <i class="fas fa-1 fa-5x"></i>
                    
                <div>
                    <h5>Academic version</h5>
                    <p>The Academic version includes three long texts which range from the descriptive and factual to the discursive and
                    analytical. The texts are authentic and are taken from books, journals, magazines and newspapers. These are recognizably appropriate for anyone entering undergraduate or
                    postgraduate courses.</p>
                </div>
            </div>
            <div class="cards">
                
                    <i class="fas fa-2 fa-5x"></i>
                    
                
                <div>
                    <h5>General training version</h5>
                    <p>The General Training version requires candidates to read three passages which are extracts from books, magazines, newspapers, notices,
                    advertisements, company handbooks and guidelines. These are materials that are likely encountered on a daily basis in an
                    English speaking environment.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="fourth" class="container-fluid">
        <h2>What <span class="ielts">Lektore</span> offers?</h2>
        <p>We offer free content, information, notes, quizzes and past papers, as well as a catelogue of talented
            IELTS tutors.</p>
        <div id="cards">
            <div class="cards">
                <i class="fas fa-info-circle fa-5x"></i>
                <div>
                    <h5>Free content</h5>
                    <p>Download free materials on both modules of the IELTS exam.</p>
                    <a href="/test/practicetests">Practice tests</a>
                </div>
            </div>
        
            <div class="cards">
                <i class="fas fa-users fa-5x"></i>
                <div>
                    <h5>Qualified tutors</h5>
                    <p>Meet all your IELTS needs with our highly qualified tutors.</p>
                    <a href="/aboutus">About us</a>
                </div>
            </div>
        
            <div class="cards">
                <i class="far fa-question-circle fa-5x"></i>
                <div>
                    <h5>Elocution</h5>
                    <p>Loosen your accent and speak like natives with our elocution specialists.</p>
                    <a href="/our-services/elocution">Elocution</a>
                </div>
            </div>
        
        </div>

    </section>
    
    
    <%- include('partials/footer'); -%>