/* for mobile phones in portrait mode */
@media (min-width: 320px) and (max-width: 480px) {
  
  
    /* FIRST SECTION */


    nav{
        position: relative;
        z-index: 1;
    }


    

/* SECOND SECTION */
#second{
    display: block !important;
}
  

.mid{
    margin: 30px 0px !important;
}



.mid h2{
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 650;
}


#second img{
    margin: 30px 0px !important;
    width:250px !important;
    height:200px !important;
    border-radius: 12px;

}




/* FOURTH AND FIFTH SECTIONS*/
#fourth, #fifth{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 20px !important;
}

#fourth h2, #fifth h2{
    font-size: 35px;
    font-weight: 700;
}

#fourth #cards, #fifth #cards{
    margin-bottom: 70px !important;
}

#fourth div.cards, #fifth div.cards{
    display:block !important;
    margin:60px !important;
    width: 200px;
}

/* SIXTH SECTION  */

#sixth{
  font-family: 'Raleway', sans-serif;
  
}

#sixth h2{
    margin: 20px 0px !important;
   
}


.tutor{
padding: 0 !important;

}

 .tutor-card{
     display: block !important;
     width: 230px !important;
     margin: 23px 0px 23px 50px !important;
     border: 1px solid black;
     border-radius: 10px;
    
}



.tutor-card img{
    margin: 10px;
    border-radius: 10px;
    width: 65px !important;
    height: 65px !important;
}


.tutor-card h5, em{
    font-size: 13px;
  position: relative;
  left: 80px !important;
  bottom: 60px !important;
}



.tutor-card p {
    margin: 10px;
    position: relative;
    bottom: 60px;
}

.tutor-card a{
    position: relative;
    bottom: 30px;
    background-color:#e21737;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    margin: 20px;
}


footer span, footer h5{
    display: none;
}

#footer{
     margin-top: 30px !important;
    display: flex;
    
}


}



@media only screen and (min-width: 500px) and (max-width: 1024px) {

/* FIRST SECTION */
    nav{
        position: relative;
        z-index: 1;
    }


/* SECOND SECTION */
#second{

    display: block !important;
}
  
.mid{

    margin: 30px 0 !important;
}


#second img{
    margin: 10px 0px 40px 0px !important;
    width:400px !important;
    height:300px !important;
    border-radius: 12px;
}

/* FOURTH SECTION */
#fifth{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 50px !important;
}

/* SIXTH SECTION */
.tutor{
    padding: 10px !important;
    width: 380px !important;
   
}

.tutor-card{
     display: inline-block;
     width: 300px !important;
     margin: 10px 0px 10px 10px !important ;
     border: 1px solid black;
     border-radius: 10px;
    
}

.tutor-card img{
    margin: 10px;
    border-radius: 10px;
    width: 100px !important;
    height: 100px !important;
}
.tutor-card h5, em{
  position: relative;
  left: 120px !important;
  bottom: 100px !important;
}






/* FOOTER */
footer{
    display: block !important;
    
}



#footer{
     margin-top: -40px;
    display: flex;
    
}


}



html, body{ 
    width: 100%;
}

/*FIRST SECTION */
#first {
background-image: url('../images/evaluation-1516644_1920.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 550px;

}



#first .logo{
    position: relative;
    top: 10px;

}

#first h5.logo{
   
    color:#0275d8;
}

#first i {
    color:#e21737;
}


nav{
    float:right;
    position: relative;
    top: -65px;
    
}


.navbar-toggler {
    background-color: #0275d8 !important;
       
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: blue !important;
}

/* Header div */
 .header{
    text-align: center;
    position:relative;
    top: 150px;
}
    
.header h1{
     color: #0275d8;
    font-size: 60px;
}


.header h2{
    margin-top: 30px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.header h2 span{
    color: #e21737;
}


.header a {
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    width: 120px;
    margin: 35px;
    padding: 2px;
    border-radius: 12px;    
}

/* Second section */
#second {
    display: flex;
    
}


.mid{
    font-family: 'Raleway', sans-serif;
    margin:30px;
}

.mid h2{
    font-size: 40px;
    margin-bottom: 35px;
    font-weight: 650;
}

.mid p{
margin-top: 5px;
}

.mid ul{
    margin-bottom: 30px;
}
.mid ul a{
    background-color:lightgray !important;
    
} 

.mid ul a:hover{
    background-color:#e21737 !important;
   
    color: white !important;
} 



.mid ul a.active{
    background-color:#e21737 !important;
}

#second img{
    margin: 30px 20px 50px;
    width:450px;
    height:280px;
    border-radius: 12px;
}

 .ielts{
    color:#0275d8;
}

 .lektore{
    color:#e21737;
}

/*  LISTENING  DIV AND TABLE */

#listening{
    display: block;
}

table a{
    color:#e21737;
}

table i{
    color:#e21737;
}

#listening h5, #reading h5, #writing h5, #speaking h5{
    font-weight: bold;
    margin-bottom: 30px;
}

#listening table{ 
    margin: 30px 0;
    width: 75%;
}

.table thead{
background-color:#e21737;
color: white;
}

#listening .table1 .second {
   padding-left: 20%;
}
#listening .table2 .second {
   padding-left: 15%;
}

#listening table .third {
   padding-left: 3%;
}

/* READING DIV AND  TABLE */
#reading{
    display: none;
}

#reading table{
    width: 50%;
}

/* WRITING DIV AND TABLE */
#writing{
    display: none;
}

#writing table{
    width: 70%;
    margin: 30px 0px;
}

#writing .table1 .second{
    padding-left: 15%;
}

/* SPEAKING DIV TABLE */
#speaking{
   display: none;
}

#speaking table{
    width: 70%;
    margin: 30px 0px;
}

#speaking  .table1 .second{
    padding-left: 15%;
}

#speaking  .table2 .second{
    padding-left: 0%;
}



/* Third section */
#third{
    text-align: center;
    background-color: #e21737;
    padding:70px;
    font-family: 'Raleway', sans-serif;
}

#third h6, #third h2{
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
}

#third h6{
    font-size: 13px;
}
#third h2{
    font-size: 50px;
    
}

#third i{
    color: #0275d8;
}



/* FOURTH AND FIFTH SECTIONS */
#fourth, #fifth{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 50px;
}


#fifth{
    background-color: rgb(238, 237, 237);
    
}

#fourth h2, #fifth h2{
    font-size: 50px;
    font-weight: 700;
}

#fourth #cards, #fifth #cards{
    margin-bottom: 50px;
}

#fourth div.cards {
    display: inline-block;
    width: 200px;
    margin: 50px;
}

#fifth div.cards{
    display: inline-block;
    margin:30px 90px;
    width: 200px;
}

#fourth div.cards a, #fifth div.cards a{
    border-radius: 13px;
    border:2px solid #0275d8;
    padding: 5px 10px;
    color: #0275d8;
    text-decoration: none;
}


#fourth i, #fifth i{
    color:#e21737;
    margin-bottom: 20px;
}


#fourth h5, #fifth h5{
    color:#0275d8;
}


/* SIXTH SECTION */
#sixth{
  font-family: 'Raleway', sans-serif;
  
}

#sixth h2{
    margin: 40px 0px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;

}


.tutor{
padding: 50px;

}

 .tutor-card{
     display: inline-block;
     width: 337px;
     margin: 23px;
     border: 1px solid black;
     border-radius: 10px;
    
}


#last-card{
    margin-right: -25px;
}

.tutor-card img{
    margin: 10px;
    border-radius: 10px;
    width: 130px;
    height: 130px;
}


.tutor-card h5, em{
  position: relative;
  left: 150px;
  bottom: 120px;
}

.tutor-card p {
    margin: 10px;
    position: relative;
    bottom: 60px;
}

.tutor-card a{
    position: relative;
    bottom: 30px;
    background-color:#e21737;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    margin: 20px;
}




/* FOOTER SECTION */


footer{
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
    
}

footer .logo{
    position: relative;
    top: 10px;

}

footer .logo i {
    color:#e21737;
}

footer h5.logo{
    /* position:relative;
    top: -15px;
    left: 45px; */
    color:#0275d8;
}

#footer{
    margin-top: -40px;
    display: flex;
    justify-content: space-evenly;
    
}


#footer ul{
    list-style: none;
}



#quick a{
    text-decoration: none;
}

#quick a:hover{
color:blue;
}


#follow .first{
    margin-bottom: 5px;
}

#follow li a{
    color:#0275d8;
}










