/* for mobile phones in portrait mode */
@media (min-width: 320px) and (max-width: 480px) {
  
  
    /* FIRST SECTION */


    nav{
        position: relative;
        z-index: 1;
    }


    

/* SECOND SECTION */
#second{
    display: block !important;
}
  

.mid{
    margin: 30px 0px !important;
}



.mid h2{
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 650;
}

.mid a {
    display: block !important;
    text-align: center !important;
    
}

#second img{
    margin: 30px 0px !important;
    width:250px !important;
    height:200px !important;
    border-radius: 12px;

}



/* FOURTH AND FIFTH SECTIONS*/
#fourth, #fifth{
    
    text-align: center;
    padding: 20px !important;
}

#fourth h2, #fifth h2{
    font-size: 35px;
    font-weight: 700;
}

#fourth #cards, #fifth #cards{
    margin-bottom: 70px !important;
}





footer span, footer h5{
    display: none;
}

#footer{
     margin-top: 30px !important;
    display: flex;
    
}


}



@media only screen and (min-width: 500px) and (max-width: 1024px) {

/* FIRST SECTION */
    nav{
        position: relative;
        z-index: 1;
    }


/* SECOND SECTION */
#second{

    display: block !important;
}
  
.mid{

    margin: 30px 0 !important;
}


#second img{
    margin: 10px 0px 40px 0px !important;
    width:400px !important;
    height:266px !important;
    border-radius: 12px;
}

/* FOURTH SECTION */
#fifth{
    
    text-align: center;
    padding: 50px !important;
}







/* FOOTER */
footer{
    display: block !important;
    
}



#footer{
     margin-top: -40px;
    display: flex;
    
}


}


body{ 
    width: 100%;
  font-family: 'Roboto', sans-serif;
}

/*FIRST SECTION */
#first {
background-image: url('../images/nguyen-dang-hoang-nhu-qDgTQOYk6B8-unsplash.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 550px;

}



#first .logo{
    position: relative;
    top: 10px;

}

#first h5.logo{
   
    color:#0275d8;
}

#first i {
    color:#e21737;
}


nav{
    float:right;
    position: relative;
    top: -65px;
    
}


.navbar-toggler {
    background-color: #0275d8 !important;
       
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: blue !important;
}

/* Header div */
 .header{
    text-align: center;
    position:relative;
    top: 150px;
}
    
.header h1{
     color: #0275d8;
    font-size: 60px;
}


.header h2{
    margin-top: 30px;
    color: white;
    
}

.header h2 span{
    color: #e21737;
}


.header a {
    
    margin-top: 50px;
    width: 120px;
    margin: 35px;
    padding: 2px;
    border-radius: 12px;    
}

/* Second section */
#second {
    display: flex;
    
}




.mid{
    
    margin:30px;
}

.mid h2{
    font-size: 40px;
    margin-bottom: 35px;
    font-weight: 650;
}

.mid p{
margin-right: 60px;
margin-top: 5px;
}

.mid ul{
    margin-bottom: 20px;
}

.mid h4{
    margin-bottom: 20px;
}
#second img{
    margin: 30px 20px 50px;
    width:400px;
    height:266px;
    border-radius: 12px;
}

 .ielts{
    color:#0275d8;
}

 .lektore{
    color:#e21737;
}

.mid a {
    background-color:#e21737;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    margin: 30px;
}


/* Third section */
#third{
    text-align: center;
    background-color: #e21737;
    padding:70px;
    
}

#third h6, #third h2{
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
}

#third h6{
    font-size: 13px;
}
#third h2{
    font-size: 50px;
    
}

#third i{
    color: #0275d8;
}



/* FOURTH AND FIFTH SECTIONS */
#fourth, #fifth{
    
    text-align: center;
    padding: 50px;
}


#fifth{
    background-color: rgb(241, 235, 235);
    
}

#fourth h2, #fifth h2{
    font-size: 50px;
    font-weight: 700;
}

#fourth #cards, #fifth #cards{
    margin-bottom: 50px;
}

#fourth div.cards {
    display: inline-block;
    width: 200px;
    margin: 50px;
}

#fifth div.cards{
    display: inline-block;
    margin:30px 70px;
    width: 200px;
}

#fourth div.cards a, #fifth div.cards a{
    border-radius: 13px;
    border:2px solid #0275d8;
    padding: 5px 10px;
    color: #0275d8;
    text-decoration: none;
}


#fourth i, #fifth i{
    color:#e21737;
    margin-bottom: 20px;
}


#fourth h5, #fifth h5{
    color:#0275d8;
}






footer{
    
    margin-top: 30px;
    
    
}

footer .logo{
    position: relative;
    top: 10px;

}

footer .logo i {
    color:#e21737;
}

footer h5.logo{
    /* position:relative;
    top: -15px;
    left: 45px; */
    color:blue;
}

#footer{
    margin-top: -2%;
    display: flex;
    justify-content: space-evenly;
    
}


#footer ul{
    list-style: none;
}



#quick a{
    color:blue;
    text-decoration: none;
}

#quick a:hover{
text-decoration: underline;
}


#follow .first{
    margin-bottom: 5px;
}

#follow li a{
    color:blue;
}






